
html, body, h1, h2, h3, h4, p, ol, ul, li, a {
	margin:20;
	padding:0;
	font: arial, sans-serif;
	text-align:left;

	}

html {
  background: url(images/backgrounds/desert_sand_dunes-wallpaper-1920x1080.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@font-face {
	font-family: "Arabic Magic";
	src: url("fonts/arabic_magic/Arabic Magic.ttf");
	}
.portal {

}

.portal h1 {
	font-family: "Arabic Magic", Helvetica, Arial, sans-serif;
	text-align: center;

}

.portal li {
	display: inline-block;
	font-family: "Arabic Magic", Helvetica, Arial, sans-serif;
}


.nav-block {
	background-color: rgba(255, 150, 51, 0.3);
	width: 100px;
	padding-left: 12px;

}
.nav-block h2 {
	font-family: "Arabic Magic", Helvetica, Arial, sans-serif;

}
.nav-block li{
	list-style-type: none;
  text-align: center;
}

.recrap {
	width: 700px;
	background: url(images/backgrounds/latepaper3-494x370.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	}

.recrap p {
	padding-left: 50px
	}




/* a{padding:5px; text-decoration:none; color:#000000;}
div#header{background-color:#F3F2ED;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#container{text-align:left}
div#content p{line-height:1.4}
div#navigation{background:#F6F0E0;}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#CCC8B3;}
div#footer{background:#BFBD93;}
div#footer p{margin:0;padding:5px 10px}
div#container{width:700px;margin:0 auto}
div#wrapper{float:left;width:100%}
div#content{margin: 0 150px}
div#navigation{float:left;width:150px;margin-left:-700px}
div#extra{float:left;width:150px;margin-left:-150px}
div#footer{clear:left;width:100%}
*/
